body {
  background-image: url(../img/escudo_are.png);
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh; 
  background-position: 3%; 
  margin: 0; 
    
}


.btn-show-pass {
  border: none;
  background: transparent;
  color: #555;
  cursor: pointer;
}
.btn-show-pass .icon {
  transition: all .3s;
}